:root{
    --primary-color: hsl(142, 69%, 61%);
}
.header{
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0px;
    z-index: 99;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}
.nav ul{
    display: flex;
    list-style: none;
}

.logo{
    font-weight: 700;
    cursor: pointer;
}

.nav ul li{
    padding: .4rem .7rem;
    font-weight: 400;
    cursor: pointer;
    transition: color .3s linear;
}
.nav ul li a{
    text-decoration: none;
    transition: color .2s linear;
 }

.nav ul li a:hover{
    color: var(--primary-color);
}


#darkmode{
    font-size: large;
    width: 40px;
}