.project-demo{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 1rem;
    align-self: center;
    transition: all .5s linear;
}

.project-demo:hover{
    transform: rotate3d(0, 1, 0, 180deg);
    transform-origin: 50% 50%;
    background-color: hsl(142, 69%, 61%);
    
}