.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 510px;
}

.intro{
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    position: relative;
    animation: intro 1s linear;
}
@keyframes intro {
    from{
        top:150px;
        opacity: .1;
    }

    to{
        top: 0;
        opacity: 1;
    }
    
}
.hero-work{
    font-family: 'poppins';
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1rem;
    position: relative;
    animation: hero-work 1.3s linear;
}

@keyframes hero-work {
    from{
        top:150px;
        opacity: .3;
    }

    to{
        top: 0;
        opacity: 1;
    }
    
}

.hero-info{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
    position: relative;
    animation: hero-info 1.6s linear;
}

@keyframes hero-info {
    from{
        top:150px;
        opacity: .5;
    }

    to{
        top: 0;
        opacity: 1;
    }
    
}

.hero-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    background-color: hsl(142, 49%, 49%);
    border-radius: 5px;
    position: relative;
    transition: background-color .2s linear;
    animation: hero-contact 1.9s linear;
    cursor: pointer;
    
}
.hero-contact:hover{
    background-color: hsl(142, 51%, 33%);
}
@keyframes hero-contact {
    from{
        top:150px;
        opacity: .5;
    }

    to{
        top: 0;
        opacity: 1;
    }
    
}

.hero-contact a{
    text-decoration: none;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
}
.hero-contact a .phone{
    color: #fff;
}

